<h1><%= "Hi, #{@current_user.username}" %></h1>
<h2><%= "Your organ stock includes: " %></h2>
<ol>
<% @user_organs.each do |user_organ| %>
  <li>
  <h3><%= user_organ.organ.name %></h3><br>
    <%= button_to "Check Current Market Price (Cost to check: $100, fibe-optic warp speed transmission overhead)",
    "/user_organs/#{user_organ.id}/check",
    method: :put%>
  </li>
<% end %>
</ol>
