<div class="user_edit_form container text-center">
  <h4 style="padding-bottom: 10px;color: lightgreen;">Edit Account Details:</h4>

  <%= form_for @current_user do |f| %>
    <h5 style="color: lightgreen;">Username: </h5><%= f.text_field :username, :value => "" %>
    <br><br>

    <h5 style="color: lightgreen;">Password: </h5><%= f.password_field :password_digest %>
    <br><br>

    <%= f.submit "Update Account", class:"btn, btn-success" %>
  <% end %>

</div>
