<% if @organs %>

  <%= "#{@user.username}, your organs are: " %>
    <ul>
    <% @organs.each do |organ| %>
      <li><%= organ.name %></li>
      <% end %>
    </ul>

<% else %>

  <%= "#{@user.username}, you don't have any organs yet." %>

<% end %>
