<h1><%= "Welcome, #{@user.username}, your balance is #{@user.balance}" %></h1>

<%= button_to "Build an Organ", new_user_organ_path, method: :get %>

<%= button_to "View Stock", "/users/#{@user.id}/organs", method: :get %>
